.root {
    /* background-image: url("./assets/background.jpg"); */
    /* background-size: 100%; */

    color: black;
}

.chartWrapper {
    position: relative;
    margin: auto;
    width: 100%;
    height: 800px;
}



.chartCanvas {}